.pattern-logo{
    background-color:#4ea0ff;
    background-image: url(../img/pattern.png); 
    background-size: 28%;
    height: 80px;
}

.logo{
    width: 150px;
    height: 100px;
}

body{
    font-family:"Poppins", sans-serif;
    
    
    
}

.titolo{
    margin-top: auto;
    font-size: 25px;
}

.blue-txt{
    color: #20a9e5;
}

.color{
    color: #828282;
}



.photo-inf{
    font-size: 10px;
}

.imp-text{
    background-color: yellow;
}

.table{
    border-collapse: collapse;
}




.titoli{
    background-color: #20a9e5;
    border: none;
    border: collapse;
    
}

.white{
    color: white;
    border: none;
    
    
}
.first-raw{
    background-color: #b1e5f2;
    border: none;
    border: collapse;
}

.second-raw{
    border: none;
    border: collapse;
}

.third-raw{
    background-color: #b1e5f2;
    border: none;
    border: collapse;
}


.imp-title{
    color: #828282;
}

img{
    
}
.image-container{
    position: relative;
    background-image: url(../img/monitor.jpg);
    background-repeat: no-repeat;
    
    
    
    
    
}

.text-container{
    color:white ;
}
    
.image-container-second{
    background-image: url(../img/graph.jpg);
    position: relative;
    background-repeat: no-repeat;
    display: inline-block;
    
}

footer{
    height: 1000px;
}


